.flexcon {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.flex1 {
    width: 150px;
    height: 150px;
    background-color: aqua;
}
.flex2 {
    width: 150px;
    height: 150px;
    background-color: lightskyblue;
}
.flex3 {
    width: 150px;
    height: 150px;
    background-color: lightcoral;
}
.transition {
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
.transition:hover {
    width: 250px;
}
.t1 {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    transform: rotate(30deg);
}
.t2 {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    transform: skewX(30deg);
}
.t3 {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    transform: scaleY(1.5);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
    grid-gap:10px;
    padding: 10px;
}
.grid {
    background-color: cornflowerblue;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}
.div1 p{
    background-color: chartreuse;
}
.div2 > p {
    background-color: darkgoldenrod;
}
.d2 + p {
    background-color: bisque;
}
.d3 ~ p {
    background-color: darkmagenta;
}
a:link {
    color: red;
}
a:hover {
    color: burlywood;
}
.span1 {
    display: none;
    background-color: yellow;
    padding: 10px;
}
.d4:hover .span1 {
    display: block;
}
.para1:first-child {
    color: blue;
}
.pa {
    background-color: none;
}